<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Vulnerability: Database connection strings with embedded credentials -->
    <add name="ProductionDB" connectionString="Server=prod-sql.company.com;Database=eShopProd;User Id=sa;Password=SuperSecret123!;Trusted_Connection=false;" />
    <add name="ReportingDB" connectionString="Data Source=reporting.company.com;Initial Catalog=Reports;User ID=report_user;Password=R3p0rt1ng_P@ss;" />
  </connectionStrings>
  
  <appSettings>
    <!-- Vulnerability: API keys and secrets in configuration -->
    <add key="PayPalClientSecret" value="ELtVXt2uCrsJH_5RMDQXWd4mpwn8l0K7-x9n_IFzHRQ_Fg8pOKGd6PpODzOkL9b2fqzJa4T7zKr3A" />
    <add key="StripeApiKey" value="sk_live_1234567890abcdefghijklmnopqrstuvwxyz1234567890" />
    <add key="SendGridApiKey" value="SG.1234567890abcdefghijklmnopqrstuvwxyz.abcdefghijklmnopqrstuvwxyz1234567890" />
    <add key="TwilioAuthToken" value="1234567890abcdefghijklmnopqrstuvwxyz" />
    <add key="FacebookAppSecret" value="1234567890abcdefghijklmnopqrstuvwxyz" />
    <add key="GoogleClientSecret" value="GOCSPX-1234567890abcdefghijklmnopqrstuvwxyz" />
    <add key="SlackToken" value="xoxp-1234567890-1234567890-1234567890-abcdefghijklmnopqrstuvwxyz123456" />
    <add key="EncryptionKey" value="ThisIsMySecretEncryptionKeyThatShouldNotBeHardcoded2024!" />
    <add key="JwtSecretKey" value="MyJWTSecretKeyThatIsUsedForTokenGeneration2024!@#$%^&*()_+" />
    
    <!-- SSH and certificate information -->
    <add key="SSHPrivateKey" value="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
NhAAAAAwEAAQAAAYEA1234567890abcdefghijklmnopqrstuvwxyz
-----END OPENSSH PRIVATE KEY-----" />
    
    <!-- Third-party service credentials -->
    <add key="AzureServiceBusConnectionString" value="Endpoint=sb://myservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=1234567890abcdefghijklmnopqrstuvwxyz=" />
    <add key="RedisConnectionString" value="myredis.redis.cache.windows.net:6380,password=1234567890abcdefghijklmnopqrstuvwxyz=,ssl=True,abortConnect=False" />
  </appSettings>
</configuration>
